<h2 class="title">Update Fees</h2>

<div class="container">
  <div class="fees-filters">
    <input
      placeholder="Search by fee name"
      class="search-input"
      [(ngModel)]="filterName"
      (input)="applyFilters()"
    />
    <select class="filter-select" [(ngModel)]="filterCategory" (change)="applyFilters()">
      <option value="">All Categories</option>
      <option value="Car Group">Car Group</option>
      <option value="Additional">Additional</option>
      <option value="Insurance">Insurance</option>
    </select>
    <select class="filter-select" [(ngModel)]="filterInterval" (change)="applyFilters()">
      <option value="">All Intervals</option>
      <option value="Daily">Daily</option>
      <option value="Weekly">Weekly</option>
      <option value="Weekend">Weekend</option>
    </select>
  </div>

  <div class="table-container" *ngIf="allFees.length > 0">
    <table mat-table [dataSource]="feesDataSource" class="mat-elevation-z8">

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Fee Name</th>
        <td mat-cell *matCellDef="let fee">{{ fee.name }}</td>
      </ng-container>

      <ng-container matColumnDef="category">
        <th mat-header-cell *matHeaderCellDef>Category</th>
        <td mat-cell *matCellDef="let fee">{{ fee.category }}</td>
      </ng-container>

      <ng-container matColumnDef="interval">
        <th mat-header-cell *matHeaderCellDef>Interval</th>
        <td mat-cell *matCellDef="let fee">{{ fee.interval }}</td>
      </ng-container>

      <ng-container matColumnDef="amount">
        <th mat-header-cell *matHeaderCellDef>Amount</th>
        <td mat-cell *matCellDef="let fee">
          <ng-container *ngIf="editingKey !== feeKey(fee)">
            {{ fee.amount | currency }}
          </ng-container>
          <mat-form-field *ngIf="editingKey === feeKey(fee)" appearance="outline" class="inline-field">
            <input matInput type="number" [(ngModel)]="editValues.amount" />
          </mat-form-field>
        </td>
      </ng-container>

      <ng-container matColumnDef="maxAmount">
        <th mat-header-cell *matHeaderCellDef>Max Amount</th>
        <td mat-cell *matCellDef="let fee">
          <ng-container *ngIf="editingKey !== feeKey(fee)">
            {{ fee.capAmount | currency }}
          </ng-container>
          <mat-form-field *ngIf="editingKey === feeKey(fee)" appearance="outline" class="inline-field">
            <input matInput type="number" [(ngModel)]="editValues.capAmount" />
          </mat-form-field>
        </td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let fee">
          <div class="row-actions" *ngIf="editingKey !== feeKey(fee)">
            <button mat-icon-button (click)="startEdit(fee)" matTooltip="Edit">
              <mat-icon>edit</mat-icon>
            </button>
          </div>
          <div class="row-actions" *ngIf="editingKey === feeKey(fee)">
            <button mat-icon-button (click)="saveRow(fee)" matTooltip="Save" [disabled]="savingKey === feeKey(fee)">
              <mat-icon>check</mat-icon>
            </button>
            <button mat-icon-button (click)="cancelEdit()" matTooltip="Cancel" [disabled]="savingKey === feeKey(fee)">
              <mat-icon>close</mat-icon>
            </button>
          </div>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"
          [class.editing-row]="editingKey === feeKey(row)"></tr>
    </table>
  </div>
</div>
